%% rabbitmq.config
[
  {rabbitmq_web_stomp,
    [
      {tcp_listeners, [15672]},
      {websockets_log_frame, true}, % Optional: Enables logging
      {ws_origins, ["http://localhost:4200"]}, % Replace with your Angular app's domain
      {auth_backends, [rabbit_auth_backend_internal]}
    ]
  }
].